.contenedor__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: #F8D027;
    margin-bottom:4rem;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form{
    display: flex;
    align-items: center;
}

.form__input {
    padding: 5px;
    border: 1px solid blue;

}

.form__input-button {
    padding: 5px 10px;
    background-color: #fced00;
    cursor: pointer;
}

.pokedex-title {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}